amqp==1.4.9
anyjson==0.3.3
Babel==2.3.4
backports.ssl-match-hostname==3.5.0.1
billiard==3.3.0.23
celery==3.1.23
certifi==2016.9.26
flower==0.9.1
kombu==3.0.35
pytz==2016.6.1
redis==2.10.5
tornado==4.2
